body{
  overflow: hidden;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}

h4 {
  font-size: 15px;
  font-weight: 350;
}

select{
  text-overflow: ellipsis;
}

input[type=file]{
  display: inline-block;
  margin-top: 5px;
}

textarea.form-control{
  margin-bottom: 12px;
  resize: none;
}

.readOnly{
  background-color: #f9f9f9;
}

.sectionHeading{
  padding-bottom: 10px;
  border-bottom: 1px solid #bebebe;
  font-weight: 300;
}

.cls-1{
  fill: #fff;
  stroke: #ccc;
  stroke-miterlimit:10;
  stroke-width:2px;
}

.alignVertical{
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 2px;
  padding-left: 6px;
}

.label{
  padding-left: 10px;
  font-size: 15px;
}

.close-icon {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 30px;
  top: 10px;
}

/* BUTTONS */

.btn{
  width: 140px;
  border-radius: 2px;
}

.btn-list{
  display: block;
  width: 100%;
  max-width: 170px;
  margin-bottom: 15px;
}

.btn-primary{
  color: #fff;
  background-color: #444;
  border-color: #444;
}

.btn-primary:hover{
  color: #fff;
  background-color: #1c1c1c;
  border-color: #444;
}

.btn-outline{
  color: #1c1c1c;
  background-color: #fff;
  border-color: #1c1c1c;
}

.btn-outline:hover{
  color: #fff;
  background-color: #1c1c1c;
  border-color: #1c1c1c;
}

/* PRESETS */

.d-none{
  display: none;
}

.w-100{
  width: 100%;
}

.ml-10{
  margin-left: 10px;
}

.mt-10{
  margin-top: 10px;
}

.pl-20{
  padding-left: 20px;
}

.pt-20{
  padding-top: 20px;
}

.mt-100p{
  margin-top: 100%;
}

.ml-40p{
  margin-left: 40%;
}

.required{
  color: red;
}

/* PANEL */

.panel {
    box-shadow: 1px 3px 1px rgba(0,0,0,.05);
    height: 500px;
    width: 1200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel-body{
  padding: 15px 30px;
  margin-left: 200px;
  height: 100%;
  overflow: scroll;
}

/* SIDEBAR */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: unset;
  font-weight: 600;
}

.nav li{
  float: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.nav li a{
  margin: 5px 0px;
  font-size: 18px;
  font-weight: 400;
}

li.active{
  background-color: white;
}

.nav li.active a{
  font-weight: 600;
}

 /* TOAST */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #3CB371;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

 #snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
